<div class="container">
    <a [routerLink]="['/']">Home</a>
    <div class="row">
        <div *ngIf="errorMesgs">
            <p *ngFor="let m of errorMesgs">Error: {{m}}</p>
          </div>
    </div>
    <div class="row">
      <form class="form-inline" (submit)="onEdit()">
  
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Enter Author</label>
      <input type="text" class="form-control" name="nameOfAuth" id="inputPassword2"[(ngModel)]="editAuthor.name" placeholder="Enter Author Name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">submit</button>
  </form>
    </div>
  </div>
  
  